$bannerHeight: 3.6rem;
$bannerWidth: 100%;
$htmlFontSize: 62.5%;
$bodyFontSize: 1.4rem;

$red: #de1b1b;
$black: #2b2b2b;
$white: #f6f6f6;
$navyblue: #081051;
$orange: #d9853b;
$green: #23b912;
$blue: #1292c3;
$darkgrey: #515151;
$lightgrey: #ededed;

// colours
$standardBackgroundColour: $navyblue;// #081051;
$standardForegroundColour: $lightgrey;//#ededed;//;
$hoverOverClickableColour: $orange; //#ff6a00;;
$btn-default-backgroundColour: $blue;// #1292c3;// #1a24e8;
$btn-alternate-backgroundColour: $green;// #23b912;
$btn-danger-backgroundColour: $red;// #fc0000;
$btn-disabled-backgroundColour: $darkgrey;// #515151;

$bannerBackgroundColour: $navyblue;//  #985322;// #0094ff;
$bannerForegroundColour: $white; // #ffffff;

$message-box-captionBarBackgoundColour: $black;// #000000;
$message-box-captionBarForegoundColour : $white;// #ffffff;

$form-captionBarBackgoundColour: $navyblue;// #0a509d;
$form-captionBarForegoundColour : $white;// #ffffff;