html {
  font-size: 62.5%; }

body {
  font-size: 1.4rem;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

.error-message {
  color: #de1b1b; }

.help-text {
  font-style: italic;
  color: #515151; }

.flex-layout {
  display: flex; }
  .flex-layout .expand-to-fill {
    flex-grow: 1; }
  .flex-layout.align-items-start {
    align-items: flex-start; }
  .flex-layout.vertical {
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column; }

/*
    define buttons as follows:
    <span class="btn"></span> = no box
    <span class="btn btn-default"></span> = box with default colours, also btn-alternate, btn-danger
    <span class="btn btn-default btn-small"></span> = small box
    ---
    combine this with data-command="xxx" to handle click events - see command library in utils
*/
.btn {
  cursor: pointer;
  text-align: center; }
  .btn:hover {
    color: #d9853b; }
  .btn.disabled, .btn[disabled] {
    background: #515151;
    cursor: default;
    pointer-events: none; }
  .btn.btn-default {
    /* buttons in IE always bounce the text on click - I have found no way to switch this off */
    /* however, a simple way around this is to use a span or div in place of button (or input[type=button])             
    */
    border: 0;
    cursor: pointer;
    font-size: 1.4rem;
    text-decoration: none;
    vertical-align: middle;
    padding: 0.725rem 1.45rem;
    text-transform: none;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    border-radius: 0.5rem;
    color: #ededed;
    background: #1292c3;
    /*background: -webkit-gradient(linear, left top, left bottom, from($darkenedBackground), to($backgroundColour));
    background: -webkit-linear-gradient(top, $darkenedBackground,$backgroundColour);
    background: -moz-linear-gradient(top, $darkenedBackground, $backgroundColour);
    background: -ms-linear-gradient(top,$darkenedBackground, $backgroundColour);
    background: -o-linear-gradient(top, $darkenedBackground, $backgroundColour);*/
    cursor: pointer;
    text-align: center; }
    .btn.btn-default:hover {
      color: #d9853b; }
    .btn.btn-default.disabled, .btn.btn-default[disabled] {
      background: #515151;
      cursor: default;
      pointer-events: none; }
    .btn.btn-default:hover {
      background: #d9853b;
      color: #ededed; }
    .btn.btn-default a:link, .btn.btn-default a:visited, .btn.btn-default a:hover, .btn.btn-default a:active {
      color: inherit;
      text-decoration: none; }
  .btn.btn-alternate {
    /* buttons in IE always bounce the text on click - I have found no way to switch this off */
    /* however, a simple way around this is to use a span or div in place of button (or input[type=button])             
    */
    border: 0;
    cursor: pointer;
    font-size: 1.4rem;
    text-decoration: none;
    vertical-align: middle;
    padding: 0.725rem 1.45rem;
    text-transform: none;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    border-radius: 0.5rem;
    color: #ededed;
    background: #23b912;
    /*background: -webkit-gradient(linear, left top, left bottom, from($darkenedBackground), to($backgroundColour));
    background: -webkit-linear-gradient(top, $darkenedBackground,$backgroundColour);
    background: -moz-linear-gradient(top, $darkenedBackground, $backgroundColour);
    background: -ms-linear-gradient(top,$darkenedBackground, $backgroundColour);
    background: -o-linear-gradient(top, $darkenedBackground, $backgroundColour);*/
    cursor: pointer;
    text-align: center; }
    .btn.btn-alternate:hover {
      color: #d9853b; }
    .btn.btn-alternate.disabled, .btn.btn-alternate[disabled] {
      background: #515151;
      cursor: default;
      pointer-events: none; }
    .btn.btn-alternate:hover {
      background: #d9853b;
      color: #ededed; }
    .btn.btn-alternate a:link, .btn.btn-alternate a:visited, .btn.btn-alternate a:hover, .btn.btn-alternate a:active {
      color: inherit;
      text-decoration: none; }
  .btn.btn-danger {
    /* buttons in IE always bounce the text on click - I have found no way to switch this off */
    /* however, a simple way around this is to use a span or div in place of button (or input[type=button])             
    */
    border: 0;
    cursor: pointer;
    font-size: 1.4rem;
    text-decoration: none;
    vertical-align: middle;
    padding: 0.725rem 1.45rem;
    text-transform: none;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    border-radius: 0.5rem;
    color: #ededed;
    background: #de1b1b;
    /*background: -webkit-gradient(linear, left top, left bottom, from($darkenedBackground), to($backgroundColour));
    background: -webkit-linear-gradient(top, $darkenedBackground,$backgroundColour);
    background: -moz-linear-gradient(top, $darkenedBackground, $backgroundColour);
    background: -ms-linear-gradient(top,$darkenedBackground, $backgroundColour);
    background: -o-linear-gradient(top, $darkenedBackground, $backgroundColour);*/
    cursor: pointer;
    text-align: center; }
    .btn.btn-danger:hover {
      color: #d9853b; }
    .btn.btn-danger.disabled, .btn.btn-danger[disabled] {
      background: #515151;
      cursor: default;
      pointer-events: none; }
    .btn.btn-danger:hover {
      background: #d9853b;
      color: #ededed; }
    .btn.btn-danger a:link, .btn.btn-danger a:visited, .btn.btn-danger a:hover, .btn.btn-danger a:active {
      color: inherit;
      text-decoration: none; }
  .btn.btn-small {
    font-size: 1.2rem;
    padding: 0.5rem 1rem; }

.banner {
  font-size: 2.0rem;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  height: 3.6rem;
  width: 100%;
  background-color: #081051;
  color: #f6f6f6; }
  .banner .title {
    margin-top: 0.5rem;
    text-align: center; }

.message-box .caption-bar {
  background-color: #2b2b2b;
  color: #f6f6f6; }

.message-box.confirm-box .message-body {
  text-align: center;
  margin-top: 1rem; }

.form input {
  border: 1px solid #aaaaaa;
  border-radius: 3px;
  padding: 0.5rem; }
  .form input.validation-error {
    border-color: #de1b1b; }

.form .validationMessage {
  color: #23b912;
  font-style: italic;
  font-size: 1.2rem;
  margin-left: 1rem; }

.form .caption-bar {
  background-color: #081051;
  color: #f6f6f6; }

#pageContainer {
  margin-top: 3.6rem;
  padding-bottom: 1.0rem;
  padding-left: 1.0rem;
  padding-right: 1.0rem; }
  #pageContainer .remark {
    font-style: italic;
    color: dimgrey; }
  #pageContainer .source-info {
    margin: 0.5rem;
    padding: 1rem; }
    #pageContainer .source-info .source-location {
      font-size: smaller; }
  #pageContainer .satellite {
    margin: 0.5rem;
    padding: 1rem;
    border: 0.15rem solid blue;
    border-radius: 0.2rem; }
    #pageContainer .satellite .identity .name {
      font-weight: bold; }
    #pageContainer .satellite .outofdate {
      color: red; }
    #pageContainer .satellite .satellite-command {
      margin-left: 0.25rem; }
    #pageContainer .satellite .satellite-command-bar {
      align-self: flex-start;
      margin: 0.5rem; }
  #pageContainer .site-list {
    margin-top: 1rem; }
    #pageContainer .site-list .site:not(:last-child) {
      border-bottom: 0.11rem solid lightgray; }
    #pageContainer .site-list .site .not-webframe {
      font-style: italic;
      color: lightgray; }
    #pageContainer .site-list .site .name {
      min-width: 12rem; }
    #pageContainer .site-list .site .pool {
      min-width: 16rem; }
    #pageContainer .site-list .site .port {
      min-width: 9rem; }
    #pageContainer .site-list .site .version {
      min-width: 12rem; }
    #pageContainer .site-list .site .databaseNames {
      min-width: 25rem; }
    #pageContainer .site-list .site .btn[data-command] {
      margin-top: 0.25rem;
      margin-bottom: 0.25rem;
      margin-right: 0.5rem; }

.upload .progress-form .stage {
  font-style: italic; }

.create-new-site {
  padding: 0.5rem;
  display: flex;
  flex-direction: column; }
  .create-new-site > div {
    display: flex;
    flex-direction: column; }
  .create-new-site input {
    margin-top: 1.0rem; }
